* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

@font-face {
  font-family: Open Sans700;
  src: url(../fonts/static/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Open Sans400;
  src: url(../fonts/static/OpenSans-Regular.ttf);
}
.site-header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}
.site-header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
}
.site-header .navbar .nav-list-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
.site-header .navbar .nav-list-btn .nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.site-header .navbar .nav-list-btn .nav-list .nav-item {
  list-style: none;
}
.site-header .navbar .nav-list-btn .nav-list .nav-item .nav-item-link {
  color: rgb(0, 0, 0);
  font-family: Open Sans400;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.site-header .navbar .nav-list-btn .nav-list .nav-item .nav-item-link:hover {
  color: #00BAFC;
}
.site-header .navbar .nav-list-btn .nav-list .nav-item .nav-item-link:active {
  color: #0086b7;
}
.site-header .navbar .nav-list-btn .nav-tel-btn {
  width: 177px;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  background-color: rgb(0, 186, 252);
  border: none;
  cursor: pointer;
}
.site-header .navbar .nav-list-btn .nav-tel-btn:hover {
  background-color: #00aeed;
}
.site-header .navbar .nav-list-btn .nav-tel-btn:active {
  color: #e5f8ff;
}

.hero-section {
  padding: 72px 0 72px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 870px;
  color: rgb(0, 0, 0);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.hero-section .hero-section-wrapper .hero-title {
  color: rgb(0, 0, 0);
  font-family: Open Sans700;
  font-size: 35px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.develop-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 80px 0 80px 0;
  justify-content: center;
  background-color: rgb(244, 244, 244);
}
.develop-section .develop-section-wrapper {
  background-color: white;
  width: 804px;
  display: flex;
  gap: 40px;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.12);
}
.develop-section .develop-section-wrapper .develop-right .develop-right-title {
  color: rgb(0, 0, 0);
  font-family: Open Sans700;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.develop-section .develop-section-wrapper .develop-right .develop-right-text {
  color: rgb(0, 0, 0);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
}
.develop-section .develop-section-wrapper .develop-right .develop-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.develop-section .develop-section-wrapper .develop-right .develop-list .develop-item {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}
.develop-section .develop-section-wrapper .develop-right .develop-list .develop-item .develop-item-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgb(0, 186, 252);
}
.develop-section .develop-section-wrapper .develop-right .develop-list .develop-item p {
  color: rgb(0, 0, 0);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.develop-section .develop-section-wrapper .develop-right .develop-btn-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.develop-section .develop-section-wrapper .develop-right .develop-btn-link .develop-order-btn {
  width: 180px;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  background: rgb(0, 186, 252);
  border: none;
  cursor: pointer;
}
.develop-section .develop-section-wrapper .develop-right .develop-btn-link .develop-order-btn:hover {
  background-color: #00aeed;
}
.develop-section .develop-section-wrapper .develop-right .develop-btn-link .develop-order-btn:active {
  color: #e5f8ff;
}
.develop-section .develop-section-wrapper .develop-right .develop-btn-link .develop-info-link {
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 186, 252);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.develop-section .develop-section-wrapper .develop-right .develop-btn-link .develop-info-link:hover {
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-family: Open Sans400;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(0, 186, 252);
}

.order-section {
  background-color: rgb(0, 186, 252);
}
.order-section .order-section-wrapper {
  padding: 56px 0 56px 0;
}
.order-section .order-section-wrapper .order-title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-section .order-section-wrapper .order-title-text .order-title {
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.order-section .order-section-wrapper .order-title-text .order-text {
  width: 719px;
  color: rgb(255, 255, 255);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
}
.order-section .order-section-wrapper .form-wrapper {
  display: flex;
  justify-content: center;
}
.order-section .order-section-wrapper .form-wrapper .order-form {
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order-section .order-section-wrapper .form-wrapper .order-form .input {
  border-radius: 5px;
  background: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 16px;
  width: 300px;
  height: 56px;
  border: none;
}
.order-section .order-section-wrapper .form-wrapper .order-form .form-order-btn {
  margin: 0 auto;
  width: 181px;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  background: rgb(0, 186, 252);
  border: none;
  cursor: pointer;
}
.order-section .order-section-wrapper .form-wrapper .order-form .form-order-btn:hover {
  background-color: #00aeed;
}
.order-section .order-section-wrapper .form-wrapper .order-form .form-order-btn:active {
  color: #e5f8ff;
}

.site-footer {
  padding: 56px 0 56px 0;
  background-color: #191919;
}
.site-footer .footer-wrapper {
  display: flex;
  gap: 100px;
}
.site-footer .footer-wrapper .footer-copy .footer-copy-title {
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.site-footer .footer-wrapper .footer-copy .footer-copy-text {
  width: 320px;
  color: rgb(255, 255, 255);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.site-footer .footer-wrapper .footer-lists {
  display: flex;
  gap: 87px;
}
.site-footer .footer-wrapper .footer-lists .footer-list1 {
  display: flex;
  flex-direction: column;
}
.site-footer .footer-wrapper .footer-lists .footer-list1 .footer-list-title {
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.site-footer .footer-wrapper .footer-lists .footer-list1 .footer-item {
  list-style: none;
  margin-bottom: 8px;
}
.site-footer .footer-wrapper .footer-lists .footer-list1 .footer-item .footer-item-link {
  color: rgb(255, 255, 255);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.site-footer .footer-wrapper .footer-lists .footer-list1 .footer-item .footer-item-link:hover {
  color: #b2eaff;
}
.site-footer .footer-wrapper .footer-lists .footer-list1 .footer-item .footer-item-link:active {
  color: #74daff;
}
.site-footer .footer-wrapper .footer-lists .footer-list2 .footer-list-title {
  color: rgb(255, 255, 255);
  font-family: Open Sans700;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.site-footer .footer-wrapper .footer-lists .footer-list2 .footer-item {
  list-style: none;
  margin-bottom: 9px;
}
.site-footer .footer-wrapper .footer-lists .footer-list2 .footer-item .footer-item-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-family: Open Sans400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.site-footer .footer-wrapper .footer-lists .footer-list2 .footer-item .footer-item-link:hover {
  color: #b2eaff;
}
.site-footer .footer-wrapper .footer-lists .footer-list2 .footer-item .footer-item-link:active {
  color: #74daff;
}