$blue: rgb(0, 186, 252);
$gray: rgb(244, 244, 244);


.develop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 80px 0 80px 0;
    justify-content: center;
    background-color: $gray;

    .develop-section-wrapper {
        background-color: white;
        width: 804px;
        display: flex;
        gap: 40px;
        padding: 32px;
        border-radius: 5px;
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.12);

        .develop-left {}

        .develop-right {
            .develop-right-title {
                color: rgb(0, 0, 0);
                font-family: Open Sans700;
                font-size: 20px;
                font-weight: 700;
                line-height: 130%;
                margin-bottom: 16px;
            }

            .develop-right-text {
                color: rgb(0, 0, 0);
                font-family: Open Sans400;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                margin-bottom: 16px;
            }

            .develop-list {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 16px;

                .develop-item {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    list-style: none;

                    .develop-item-circle {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border: none;
                        background-color: $blue;
                    }

                    p {
                        color: rgb(0, 0, 0);
                        font-family: Open Sans400;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }

            .develop-btn-link {
                display: flex;
                align-items: center;
                gap: 16px;

                .develop-order-btn {
                    width: 173px;
                    padding: 8px 16px;
                    color: rgb(255, 255, 255);
                    font-family: Open Sans700;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    border-radius: 5px;
                    background: rgb(0, 186, 252);
                    border: none;
                    cursor: pointer;
                }

                .develop-info-link {
                    color: rgb(0, 186, 252);
                    font-family: Open Sans400;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-decoration-line: underline;
                }
            }
        }
    }
}